<div class="container">
    <div class="essay white">
        <div class="video-container text">
            <p style="font-size: large;">Video-Bibliothek</p>
            <p>In diesem <i style="color: rgb(80, 226, 43);">Abschnitt</i> präsentiere ich eigene Videos, in denen ich bekannte Szenen aus Nintendo-Spielen, Anime und anderen Medien mit selbst eingespielter Klaviermusik kombiniert habe. Die <i style="color: rgb(80, 226, 43);">musikalische Begleitung</i> wurde von mir am <i style="color: rgb(80, 226, 43);">Piano</i> aufgenommen und anschließend passend zum Videomaterial zusammengeschnitten. Auch wenn meine Klavierkünste vielleicht nicht perfekt sind, stand für mich der <i style="color: rgb(80, 226, 43);">Spaß</i> an der kreativen Umsetzung im Vordergrund – nicht die <i style="color: rgb(80, 226, 43);">musikalische Perfektion</i>. </p>
        </div>
    </div>
    <div class="essay blue">
        <div class="video-container">
            <video controls>
                <source src="../project/assets/media/GhirahimTheme.mp4" type="video/mp4">
                Dein Browser unterstützt das Video-Tag nicht.
            </video>
            <p>
                Dieses Video zeigt ein musikalisches Werk von Ghirahims - Theme aus dem Videospiel <i style="color: rgb(80, 226, 43);">"The Legend of Zelda Skyward Sword (2011)"</i>. Zu sehen ist ein Bosskampf gegen Ghirahim, eine Figur, die für ihre extravagante Eleganz und zugleich bedrohliche Ausstrahlung bekannt ist. Die von mir eingespielte Begleitmusik basiert auf dem Original-Track und wurde in einer neuen Pianoversion zusammengeführt.
            </p>
        </div>
    </div>
    <div class="essay white">
        <div class="video-container">
            <video controls>
                <source src="../project/assets/media/SongOfHealingSlowed.mp4" type="video/mp4">
                Dein Browser unterstützt das Video-Tag nicht.
            </video>
            <p>
                Zu hören ist eine neue Klavierversion von Song of Healing, bekannt aus dem Videospiel <i style="color: rgb(80, 226, 43);">"The Legend of Zelda Majora's Mask (2000)"</i>. Zu sehen ist ein GIF von der Majoras Maske, die Horror-Kid während des Spiels trägt. Die von mir eingespielte Begleitmusik basiert auf dem Original-Track und wurde in einer Slowed - Pianoversion neu verfasst.
            </p>
        </div>
    </div>
    <div class="essay blue">
        <div class="video-container">
            <video controls>
                <source src="../project/assets/media/GanondorfTheme.mp4" type="video/mp4">
                Dein Browser unterstützt das Video-Tag nicht.
            </video>
            <p>
                Dieses Video präsentiert eine neue eigene Version von Ganondorf - Theme aus dem Videospiel <i style="color: rgb(80, 226, 43);">"The Legend of Zelda: Ocarina of Time (2011)"</i>. Zu sehen ist eine spielende Szene auf der Orgel von Ganondorf, eine Figur, die für Macht und das Böse in Hyrule bekannt ist. Die von mir eingespielte Begleitmusik basiert auf dem Original-Track von Ganondorf. Allerdings stammt die <i style="color: rgb(80, 226, 43);">Originalversion aus einer anderen Spielszene</i> und wurde mit diesem Video in einer neuen Pianoversion zusammengeführt.
            </p>
        </div>
    </div>
    <div class="essay white">
        <div class="video-container">
            <video width="560" height="315" controls>
                <source src="../project/assets/media/MarioUndergroundTheme.mp4" type="video/mp4">
                Dein Browser unterstützt das Video-Tag nicht.
            </video>
            <p>
                Hier präsentiere ich eine neue musikalische Version von Mario - Underground - Theme aus dem Videospiel <i style="color: rgb(80, 226, 43);">"Super Mario Bros (1985)"</i>. Zu sehen ist eine spielende Szene in einem Super Mario Bros Level im Untergrund. Die von mir eingespielte Begleitmusik basiert auf dem Original-Track und wurde in einer Pianoversion neu interpretiert und mit dem Originalvideo neu verfasst.
            </p>
        </div>
    </div>
    <div class="essay blue">
        <div class="video-container">
            <video width="560" height="315" controls>
                <source src="../project/assets/media/SailorMoon.mp4" type="video/mp4">
                Dein Browser unterstützt das Video-Tag nicht.
            </video>
            <p>
                Dieses Video präsentiert ein musikalisches Werk vom - Opening - aus der Animationsserie <i style="color: rgb(80, 226, 43);">"Sailor Moon (1992)"</i>. Zu sehen ist das Opening (Intro) in einer Folge in Sailor Moon. Die von mir eingespielte Begleitmusik basiert auf dem Original-Track und wurde in einer Pianoversion neu interpretiert und mit dem Originalvideo neu zusammengeführt.
            </p>
        </div>
    </div>
    <div class="essay white">
        <div class="video-container">
            <video width="560" height="315" controls>
                <source src="../project/assets/media/OnePiece.mp4" type="video/mp4">
                Dein Browser unterstützt das Video-Tag nicht.
            </video>
            <p>
                Zu hören ist eine neue eigene Version von Golden and Oden aus der Animationsserie <i style="color: rgb(80, 226, 43);">"One Piece (1998)"</i>. Zu sehen ist eine spielende Szene zu Beginn der ersten Folge. Die von mir eingespielte Begleitmusik basiert auf dem Original-Track von Golden and Oden. Allerdings stammt <i style="color: rgb(80, 226, 43);">die Originalversion aus anderen Spielszenen</i> und wurde mit diesem Video in einer neuen Pianoversion kombiniert.
            </p>
        </div>
    </div>
    <div class="essay blue">
        <div class="video-container">
            <video width="560" height="315" controls>
                <source src="../project/assets/media/RFAD.mp4" type="video/mp4">
                Dein Browser unterstützt das Video-Tag nicht.
            </video>
            <p>
                Hier präsentiere ich eine neue musikalische Version von <i style="color: rgb(80, 226, 43);">"Requiem for a Dream"</i>. Zu sehen ist ein Zusammenschnitt mehrerer animiert und KI-generierter Videos. Die von mir eingespielte Begleitmusik basiert auf dem Original-Track und wurde in einer eigenen Pianoversion mit dem Originalvideo neu zusammengesetzt.
            </p>
        </div>
    </div>
</div>