:root {
  --background-color: rgb(216, 216, 216);
  --header-text-color: aliceblue;
  --base-font-size: 16px;
  --header-color: rgb(90, 69, 134);
  --text-color: rgb(0, 0, 0);
}
html {
    scroll-behavior: smooth;
    background-color: var(--background-color);
    font-family: Roboto;
    width: 100vw;
    overflow-x: hidden;
}
body{
    background-color: var(--header-color);
    scroll-behavior: smooth;
    margin: 0%;
    width: 100vw;
    overflow-x: hidden;
    padding-top: 80px; /* Höhe des Headers */
}
footer{
    background-color: var(--header-color);
    color: var(--header-text-color);
    text-align: center;
    align-items: center;
    padding: 20px;
}
#footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
}
a{
    text-decoration: none;
    color: var(--header-color);
}
nav{
    height: 80px;
}
nav ul{
    list-style-position: outside;
    flex-direction: row;
    letter-spacing: normal;
    position: relative;
    top: 0;
    z-index: 2;
}
nav ul li{
    padding: 0 20px;
}
nav ul li a{
    color: var(--header-text-color);
    align-items: center;
    cursor: pointer;
    display: flex;
    text-decoration: none;
    padding-top: 27px;
    justify-content: space-between;
}
nav ul li a span{
    padding-left: 10px;
    color: var(--header-text-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
}
nav ul li a span:hover{
    color: var(--header-text-color);
    text-decoration: underline;
    text-decoration-color: var(--header-text-color);
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
    text-underline-position: under;
}
header{
    display: block;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: var(--header-color);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: auto auto;
    border: 0px none;
    position: fixed;
    width: 100%;
    height: 80px;
    box-shadow: 0 0 2px aliceblue, 0 0 2px aliceblue;
    opacity: 0.9;
    top: 0;
    z-index: 1000;
}   
.container{
    display: flex;
    flex-direction: column;
}
.container, .essay{
    font-family: Roboto;
    font-weight: 400;
    color: var(--text-color);
    line-height: 24px;
}
.white{
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    position: relative;
    color: var(--text-color);
}
.grow{
    background-color: rgb(161, 161, 161);
    width: 100%;
    height: 100%;
    position: relative;
}
.blue{
    background-color: rgb(90, 69, 134);
    width: 100%;
    height: 100%;
    position: relative;
    color: var(--header-text-color);
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
li{
    font-size: 20px;
    color: var(--text-color);
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 10px;
}
.stars:hover {
    color: aliceblue;
}
.rating{
    align-items: center;
    margin: 20px auto;
    font-size: 24px;
    color: var(--text-color);
    width: 20%;
    margin-bottom: 0px;
    bottom: 0px;
    justify-content: center;
}
.stars{
    text-shadow: 0 0 2px black, 0 0 2px black;
    color: aliceblue;
    margin: 10px auto;
    transition: color .3s ease-in-out, text-shadow .3s ease-in-out;
    padding: 0 .25rem 0 .25rem;
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rating:hover{
    color: aliceblue;

}
.skills{
    display: flex;
    flex-direction: row;
    overflow-wrap: anywhere;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    margin: 20px auto;
    padding: 20px;
}
button{
    color: rgb(0, 0, 0);
    background-color: aliceblue;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    box-shadow: 0 0 2px black, 0 0 2px black;
    position: relative;
    display: inline-flex;
    justify-content: center;
    margin: 10px auto;
}
.ratingheadline{
    text-shadow: 0 0 2px black, 0 0 2px black;
    color: aliceblue;
    transition: color .3s ease-in-out, text-shadow .3s ease-in-out;
    font-size: 24px;
    display: flex;
    justify-content: center;
}
.ratingheadline2{
    color: var(--header-color);
    transition: color .3s ease-in-out, text-shadow .3s ease-in-out;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.header-logos {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
}
.left{
    left: 0;
}
.right{
    right: 0;
}
video {
    width: 22.075%;
    height: 100%;
    display: block;
    margin: 2%;
}
.video {
    width: 22.075%;
    height: 100%;
    display: block;
    margin: 2%;
}

.projectcontainer {
    display: flex;
    box-shadow: 0 0 2px aliceblue, 0 0 2px aliceblue;
    margin: 10px;
    margin-bottom: 50px;
    position: relative;
    border-radius: 10px;
    flex: 1 1 0;
    min-height: max-content;
    background-color: var(--header-color);
    color: var(--header-text-color);
}
.projectcontainer:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
button:hover {
    scale: 1.05;
    transition: transform 0.3s ease-in-out;
}
button{
    text-decoration: none;
    color: var(--header-color);
    background-color: var(--header-text-color);
    border-radius: 5px;
    box-shadow: 0 0 2px aliceblue, 0 0 2px aliceblue;
}
.projectcontainer img{
    margin: 0;
    padding: 0;
}
.projectinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.projectinfo button{
    display: absolute;
    bottom: auto;
}
.displaynone{
    display: none;
}
.child{
    transition: transform 0.3s ease-in-out;
}
.bx-search{
    position: absolute;
    top: 0;
    right: 0;
    margin: 2%;
    font-size: large;
}
.bx-search:hover {
    transform: scale(1.6);
    transition: transform 0.2s;
}
.bx-search:hover .bubble{
    display: block;
}
.bubble { 
    font-family: Roboto;
    display: none;
    position: absolute;
    top: -50px;
    background-color: var(--header-text-color);
    color: var(--header-color);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 2px  rgb(90, 69, 134), 0 0 2px  rgb(90, 69, 134);
}
.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    margin: 20px auto;
    padding: 20px;
    align-items: stretch;
}
#myphoto {
    padding: 0;
    display: block;
}
#myphotoMedia{
    display: none;
}
.rating:hover{
    scale: 1.05;
    transition: transform 0.3s ease-in-out;
}
video:hover {
    scale: 1.05;
    transition: transform 0.3s ease-in-out;
}
.contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 40px;
}
.contactform {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px auto;
    padding: 20px;
    width: 500px;
    background-color: var(--header-color);
    color: var(--header-text-color);
    border-radius: 10px;
}
.contactinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    width: 500px;
    color: var(--header-color);
    border-radius: 10px;
}
label{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 30px;
    
}
#E-Mail{
    border-radius: 10px;
}
textarea{
    resize: none;
    border-radius: 10px;
    background-color: var(--header-text-color);
    min-height: 100px;
    font-size: 20px;
    padding: 6px;
}
input{
    background-color: var(--header-text-color);
    min-height: 30px;
    font-size: 20px;
    padding-left: 6px;
    padding-right: 6px;
}
#submit{
    display: flex;
    align-items: center;
}
.socialmedia{
    font-size: 30px;
    display: flex;
    margin: 20px auto;
    align-items: center;
}
.sociallink:hover{
    scale: 1.05;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    margin-left: 5px;
}
.bxl-instagram{
    color: var(--header-color);
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}
.p_new{
    color: var(--header-color);
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
    display: flex;
    text-align: center;
}
.video-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}
.video-container p{
    font-family: 'Lucida Handwriting';
    margin-left: 20px;
}
.Logo{
    justify-content: center;
}
.text{
    margin: 30px;
    display: flex;
    flex-direction: column;
}
#spotify{
    display: flex;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}
.background{
    position: inline-block;
    z-index: -1;
}
@media (max-width: 800px) {
    .rating {
        font-size: 3vw;
    }
    .ratingheadline {
        font-size: 3vw;
    }
    nav ul li a span{
        font-size: 3vw;
    }
    .header-logos{
        display: none;
    }
    .projects {
        flex-direction: column;
        align-items: stretch;
    }
    #myphoto {
        display: none;
    }
    #myphotoMedia{
        display: block;
    }
    .contactform {
        width: 80%;
    }
    .contact {
        flex-direction: column;
        align-items: center;
    }
    video{
        width: 80%;
    }
    .video-container {
        display: flex;
        flex-direction: column;
        margin: 30px;
    }
    #spotify {
        width: 80%;
        padding: 19px;
        margin: 0 auto;

    }
    .contactinfo {
        width: 80%;
    }
    
}