<div class="container">
    <div class="essay white">
        <div>
            <img id="myphoto" src="../project/assets/images/ImgAboutMe.png" width="100%" height="100%" alt="HTML Logo">
            <img id="myphotoMedia" src="../project/assets/images/ImgAboutMe2.png" width="100%" height="100%" alt="HTML Logo">
        </div>
    </div>
    <div class="essay blue">
        <div id="spotify">
            <iframe id="iframe" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/3CBUwIwJZZZZpvekBx7mhH?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
    </div>
    <div class="essay white">
        <p class="ratingheadline2">Meine Projekte</p>
        <div class="projects">
            <div class="projectcontainer">
                <i class='bx bx-search search' onclick="SetImgActive(this.parentNode.querySelector('.child'), this.parentNode.querySelector('.projectinfo'))">
                    <span class="bubble">Umklappen</span>
                </i>
                <div class="child displaynone">
                    <img src="../project/assets/images/projectBarrierfreiheit.png" alt="" width="100%" height="100%" onclick="window.location.href='../project/assets/images/projectBarrierfreiheit.png'">
                </div>
                <div class="projectinfo">
                    <h2>Barrierfreie Webseite über Barrierefreiheit</h2>
                    <p>Das Projekt wurde mit HTML, CSS und JavaScript realisiert und ist selbst barrierefrei gestaltet. Es enthält Funktionen wie Kurzbefehle, anpassbare Schriftgrößen, einen Dark-/Light-Mode sowie HTML- und ARIA-Tags zur Unterstützung von Screenreadern. Zudem vermittelt die Webseite umfassend, wie barrierefreies Webdesign umgesetzt wird. (100%)</p>
                    <button onclick="window.location.href='../project/assets/ProjektBarrierefreiheit/Main/index.html'">Öffne</button>
                </div>
            </div>
            <div class="projectcontainer">
                <i class='bx bx-search search' onclick="SetImgActive(this.parentNode.querySelector('.child'), this.parentNode.querySelector('.projectinfo'))">
                    <span class="bubble">Umklappen</span>
                </i>
                <div class="child displaynone">
                    <img src="../project/assets/images/projectBarrierfreiheit.png" alt="" width="100%" height="100%" onclick="window.location.href='../project/assets/images/projectBarrierfreiheit.png'">
                </div>
                <div class="projectinfo">
                    <h2>Kartenspiel</h2>
                    <p>Im Rahmen meines Studiums entwickelte ich in einer Gruppenarbeit ein Kartenspiel mit Angular, HTML, SCSS und TypeScript, unterstützt durch ein Java-Backend. Das Spiel bietet Funktionen wie Login, Kartenshop, Clans & Clan-Turniere sowie Matches gegen den Computer oder Freunde über WebSockets. (95%)</p>
                    <button onclick="window.location.href='../project/assets/gruppe-v-main.zip'">Download</button>
                </div>
            </div>
            <div class="projectcontainer">
                <i class='bx bx-search search' onclick="SetImgActive(this.parentNode.querySelector('.child'), this.parentNode.querySelector('.projectinfo'))">
                    <span class="bubble">Umklappen</span>
                </i>
                <div class="child displaynone">
                    <img src="../project/assets/images/projectBarrierfreiheit.png" alt="" width="100%" height="100%" onclick="window.location.href='../project/assets/images/projectBarrierfreiheit.png'">
                </div>
                <div class="projectinfo">
                    <h2>Webseite über das Yu-Gi-Oh! Rueling</h2>
                    <p>Ein kommendes Projekt ist die Entwicklung einer „Yu-Gi-Oh! Ruling FAQ“-Webseite. Ziel ist es, häufige Regelfragen aus dem Web zu bündeln und ein umfassendes Nachschlagewerk für alle Spielszenarien zu erstellen. Ergänzend bietet die Seite Deck-Empfehlungen. (0%)</p>
                    <button>Mehr</button>
                </div>
            </div>
            <div class="projectcontainer">
                <i class='bx bx-search search' onclick="SetImgActive(this.parentNode.querySelector('.child'), this.parentNode.querySelector('.projectinfo'))">
                    <span class="bubble">Umklappen</span>
                </i>
                <div class="child displaynone">
                    <img src="../project/assets/images/projectBarrierfreiheit.png" alt="" width="100%" height="100%" onclick="window.location.href='../project/assets/images/projectBarrierfreiheit.png'">
                </div>
                <div class="projectinfo">
                    <h2>Kugel - Shop</h2>
                    <p>Eines meiner ersten Projekte während des Abiturs war ein Kugelshop, entwickelt mit HTML, CSS, JavaScript und PHP. Nutzer konnten sich registrieren, anmelden, Kugeln in den Warenkorb legen und Bestellungen aufgeben. (95%)</p>
                    <button onclick="window.location.href='../project/assets/Kugeln.zip'">Download</button>
                </div>
            </div>
        </div>
    </div>
    <div class="essay blue">
        <p class="ratingheadline">Skills</p>
        <div class="projects">
            <div class="projectcontainer" onclick="SetSkillsActive('s1', event)">
                <div class="projectinfo">
                    <h2>Webtechnologien</h2>
                </div>
            </div>
            <div class="projectcontainer" onclick="SetSkillsActive('s2', event)">
                <div class="projectinfo">
                    <h2>Programmiersprachen</h2>
                </div>
            </div>
            <div class="projectcontainer" onclick="SetSkillsActive('s3', event)">
                <div class="projectinfo">
                    <h2>Sonstiges</h2>
                </div>
            </div>
        </div>
        </div>
        <div class="skills displaynone s1">
            <div class="rating">
                <img class="Logo" src="../project/assets/images/HTML_Logo.png" width="100%" height="100%" alt="HTML Logo">
                <span class="stars">HTML</span>
                <span class="stars">★★★★☆</span>
                <!-- <button>Mehr</button> -->
            </div>
            <div class="rating">
                <img src="../project/assets/images/CSS_Logo.png" width="100%" height="100%" alt="CSS Logo">
                <span class="stars">CSS</span>
                <span class="stars">★★★★☆</span>
            </div>
            <div class="rating">
                <img src="../project/assets/images/JS_Logo.png" width="100%" height="100%" alt="JavaScript Logo">
                <span class="stars">JavaScript</span>
                <span class="stars">★★★★☆</span>
            </div>
            <div class="rating">
                <img src="../project/assets/images/TS_Logo.png" width="100%" height="100%" alt="TypeScript Logo">
                <span class="stars">TypeScript</span>
                <span class="stars">★★★☆☆</span>
            </div>
            <div class="rating">
                <img src="../project/assets/images/PHP_Logo.png" width="100%" height="100%" alt="PHP Logo">
                <span class="stars">PHP</span>
                <span class="stars">★☆☆☆☆</span>
            </div>
        </div>
        <div class="skills displaynone s2">
            <div class="rating">
                <img src="../project/assets/images/Java_Logo.png" width="100%" height="100%" alt="Java Logo">
                <span class="stars">Java</span>
                <span class="stars">★★★☆☆</span>
                <!-- <button>Mehr</button> -->
            </div>
            <div class="rating">
                <img src="../project/assets/images/Cpluspls_Logo.png" width="100%" height="100%" alt="CSS Logo">
                <span class="stars">C++</span>
                <span class="stars">★★☆☆☆</span>
            </div>
            <div class="rating">
                <img src="../project/assets/images/AL_Logo.png" width="100%" height="100%" alt="AL business central Logo">
                <span class="stars">AL</span>
                <span class="stars">★★★★★</span>
            </div>
            <div class="rating">
                <img src="../project/assets/images/Phython_Logo.png" width="100%" height="100%" alt="Phython Logo">
                <span class="stars">Phython</span>
                <span class="stars">★★★☆☆</span>
            </div>
        </div>
        <div class="skills displaynone s3">
            <div class="rating">
                <p class="ratingheadline">Datenbanksprache</p>
                <img src="../project/assets/images/SQL_Logo.png" width="100%" height="100%" alt="SQL Logo">
                <span class="stars">SQL</span>
                <span class="stars">★★★★☆</span>
                <!-- <button>Mehr</button> -->
            </div>
            <div class="rating">
                <p class="ratingheadline a">Open-Source Framework</p>
                <img src="../project/assets/images/angular_Logo.png" width="100%" height="100%" alt="Angular Logo">
                <span class="stars">Angular</span>
                <span class="stars">★★★★☆</span>
            </div>
        </div>
    </div>
    <div class="essay white">
        <div class="contact">
            <div class="contactform">
                <form action="https://formspree.io/f/mqaqrdor" method="POST">
                    <h1 id="Feedback">Feedback</h1>
                    <label>E-Mail:<input id="E-Mail" type="email" name="email"></label>
                    <label id="message">Nachricht:<textarea name="message"></textarea></label>
                    <button id="submit" type="submit">Senden</button>
                </form>
            </div>
            <div class="contactinfo">
                <h1>Kontaktinformationen</h1>
                <p class="p_new">Wenn Sie Fragen oder Anregungen haben, können Sie mich gerne kontaktieren.</p>
                <div class="socialmedia">
                    <i class='bx bxl-instagram'></i>
                    <a class="sociallink" href="https://www.instagram.com/marcandre_02/">marcandre_02</a>
                </div>
                <div class="socialmedia">
                    <i class='bx bxl-discord' ></i>
                    <a class="sociallink">LPMarc02</a>
                </div>
            </div>
        </div>
    </div>
</div>