/*Variablen für White und Darkmode*/
:root {
  --background-color: white;
  --text-color: black;
  --sidebar-background-color: white;
  --sidebar-text-color: black;
  --sidebar-hover-background: #12171e;
  --sidebar-hover-text: white;
  --base-font-size: 16px;
}

body.dark-mode {
  --background-color: #2e323c;
  --text-color: white;
  --sidebar-background-color: #12171e;
  --sidebar-text-color: white;
  --sidebar-hover-background: white;
  --sidebar-hover-text: #12171e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--background-color);
  color: black;
}
/*Navigationsleiste*/
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh; 
  width: 80px;
  background-color: var(--sidebar-background-color);
  color: var(--sidebar-text-color);
  padding: 0.4rem 0.8rem; 
  transition: all 0.5s ease; 
}

#sidebar p, #sidebar .navItem {
  opacity: 0; 
  white-space: nowrap;
}

#sidebar ul li {
  position: relative;
  list-style-type: none;
  height: 50px;
  width: 100%;
  margin: 0.8rem auto;
  line-height: 50px;
}

#sidebar ul li a {
  color: var(--sidebar-text-color);
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 0.8rem;
}

#sidebar ul li a i {
  min-width: 50px;
  text-align: center;
  height: 50px;
  border-radius: 12px;
  line-height: 50px;
}

#sidebar ul li a:hover {
  background-color: var(--sidebar-hover-background);
  color: var(--sidebar-hover-text);
}

#sidebar ul li .tooltip {
  position: absolute;
  left: 125px; 
  top: 50%; 
  transform: translateY(-50%,-50%); 
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
  border-radius: 0.6rem;
  padding: 0.4rem 1.2rem;
  line-height: 1.8rem;
  z-index: 20;
  opacity: 0;
  white-space: nowrap; 
  background-color: var(--text-color);
  color: var(--background-color);
}

#sidebar ul li:hover .tooltip {
  opacity: 1;
}
.tooltip, .navItem{
  pointer-events: none;
}


#sidebar .top .logo {
  color: var(--sidebar-text-color);
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
  pointer-events: none;
  opacity: 0;
}

#sidebar #openSide {
  position: absolute;
  top: 0.4rem;
  left: 50%;
  font-size: 1.2rem;
  line-height: 100px;
  transform: translateX(-50%);
  cursor: pointer;
  color: var(--sidebar-text-color);
}

#sidebar.active {
  width: 300px;
}

#sidebar.active p, #sidebar.active .top .logo, #sidebar.active .navItem {
  opacity: 1;
}

#sidebar.active #openSide {
  left: 90%;
}

#sidebar.active ul li .tooltip {
  display: none;
}
/*Themenblock für Inhalte*/
.essay {
  left: 150px;
  margin: 2rem auto;
  margin-left: 150px;
  margin-right: 10%;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
/*Anpassung der Schriftgrößen*/
.essay h1 {
  color: #333;
  font-size: calc(var(--base-font-size) *2);
}
.essay h2 {
  color: #333;
  font-size: calc(var(--base-font-size) *1.5);
}
.essay h3 {
  color: #333;
  font-size: calc(var(--base-font-size) *1.17);
}
.essay h4 {
  color: #333;
  font-size: calc(var(--base-font-size) *1);
}
.essay h5 {
  color: #333;
  font-size: calc(var(--base-font-size) *0.83);
}
.essay h6 {
  color: #333;
  font-size: calc(var(--base-font-size) *0.75);
}


.essay p, .essay a, .essay li, .essay ol, .essay ul, .essay b, .essay u, .essay td{
  line-height: 1.6;
  color: #555;
  font-size: var(--base-font-size);
}

.essay a {
  color: #007BFF;
}
/*Gestaltung White und Dark-Mode Button*/
#modeToggleButton {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: var(--sidebar-hover-background);
  color: var(--background-color);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000; 
  transition: background-color 0.3s ease, color 0.3s ease;
}

#modeToggleButton:hover {
  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark-mode #modeToggleButton i.bx-moon {
  display: none;
}

body.light-mode #modeToggleButton i.bx-sun {
  display: none;
}

body.dark-mode #modeToggleButton i.bx-sun, body.light-mode #modeToggleButton i.bx-moon {
  display: block;
}
/* PDF-Benutzerhandbuch*/
.essay .pdf i{
  font-size: 50px;
}

.pdf{
  display: flex;
  flex-direction: row;
  align-items: center;
}
/*Gestaltung Schieberegler*/
#fontSizeSliderContainer {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
  background-color: var(--sidebar-hover-background);
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

#fontSizeSlider {
  width: 150px;
}
/*Gestaltung auf- und zuklappbare Box*/
details {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
}

details[open] summary i {
  transform: rotate(180deg);
}

details summary {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

details summary i {
  transition: transform 0.3s;
}

u {
  display: block;
  margin: 10px 0 5px 0;
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*Gestaltung Code-Elemente*/
.w3-codespan {
  font-size: 105%;
  background-color: rgba(222, 222, 222, 0.3);
  color: crimson;
  background-color: #f1f1f1;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 110%;
}

code{
  font-size: 105%;
  background-color: rgba(222, 222, 222, 0.3);
  color: crimson;
  background-color: #f1f1f1;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 110%;
}
/*Gestaltung Img Container*/
.container {
  display: flex;
  align-items: flex-start;
}
.image-container {
  flex: 1;
  padding-right: 20px;
}
.text-container {
  flex: 2;
}
.text-container details {
  margin-top: 20px;
}
img {
  max-width: 100%;
  height: auto;
}
.caption {
  font-size: 0.9em;
  color: #555;
}

a{
  text-decoration: none;
}




